# Trivial environment can be put in this file
# Important sensitive environment can be put into secrets/<name>.txt separately
OLLAMA_MODEL_PATH="local_ollama_dir storing the models"
OLLAMA_HOST="http://localhost:11434"
HF_TOKEN="hugging face token"
DEV="false"
